* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: rgb(237, 237, 237);
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  overflow-x: hidden;
  height: 100vh;
}

header {
  position: absolute;
  right: 0;
  height: 0;
}

.account {
  margin: 20px 180px;
}
.account img {
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.account p {
  float: right;
  color: #1b1e26;
  margin: 7px -185px;
  font-size: 15px;
}

.account-box:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #1f2c39;
  margin: -7px 34px;
  float: right;
}

.account-box {
  background: #1f2c39;
  border-radius: 3px;
  width: 80%;
  height: 300px;
  border: none;
  margin: 50px 60px;
  position: absolute;
}
.account-box h3 {
  text-align: center;
  color: #fff;
  padding: 20px;
  font-weight: 300;
  border-bottom: 1px solid #233140;
}
.account-box li {
  list-style: none;
  padding: 15px;
  width: 38.8%;
  float: left;
  transition: all ease 0.4s;
}
.account-box li:hover {
  background: #233140;
}
.account-box a {
  text-decoration: none;
  color: #fff;
}

aside {
  background: #233140;
  width: 20%;
  height: 100vh;
  position: fixed;
}
aside h1 {
  font-family: "Pacifico", cursive;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  font-size: 2.5rem;
}
aside ul {
  margin: 40px 0;
}
aside li {
  list-style: none;
  padding: 9px;
  margin-top: 10px;
  transition: all ease 0.4s;
}
aside li.active {
  background: #1a252f;
}
aside li:hover {
  background: #1a252f;
}
aside a {
  color: #fff;
  text-decoration: none;
  font-size: 12.5px;
  padding-left: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12.5px;
  font-size: 0.78125rem;
}

.notification {
  background: #2980b9;
  width: 20px;
  height: 20px;
  padding: 2px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  color: #fff;
  font-weight: 400;
  float: right;
  margin-top: -2px;
  margin-right: 10px;
  font-size: 14px;
  font-size: 0.875rem;
}

.dashboard {
  background: rgb(237, 237, 237);
  width: 80%;
  height: 100vh;
  float: right;
}

canvas {
  margin: -50px -5px;
  width: 101% !important;
}

.row {
  width: 100%;
  margin-top: 41px;
}
.row p {
  float: left;
  margin: -110px 150px;
  color: #fff;
  font-weight: 400;
  width: 60%;
  font-size: 14px;
  font-size: 0.875rem;
}

.profits {
  background: #283949;
  width: 50%;
  height: auto;
  float: left;
}

.expenses {
  background: #233140;
  width: 50%;
  height: auto;
  float: right;
}

.circle {
  width: 100px;
  height: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 10px solid #273646;
  color: #fff;
}

.c-profits {
  background: transparent;
  border-top-color: #2980b9;
  border-right-color: #2980b9;
  border-bottom-color: #2980b9;
}

.c-expenses {
  background: transparent;
  border-top-color: #9b59b6;
  border-right-color: #9b59b6;
}

.fa {
  color: #fff;
  padding-right: 10px;
  font-size: 12.5px !important;
  font-size: 0.78125rem;
}

.fa.fa-caret-down {
  margin: 0 10px;
  color: #1b1e26;
}

.fa.fa-bars {
  float: right;
  margin: 30px 20px;
  visibility: hidden;
  font-size: 20px !important;
  font-size: 1.25rem;
}

@media screen and (max-width: 1100px) {
  aside {
    visibility: hidden;
  }

  .profits,
  .expenses {
    width: 100%;
  }

  .dashboard {
    width: 100%;
    margin-top: 50px;
  }

  .account {
    visibility: hidden;
  }

  .menu {
    width: 100vw;
    height: 100vh;
    background: #2c3e50;
    margin: 0 0;
    padding-bottom: 60px;
  }
  .menu ul {
    margin: -50px 30px;
    text-align: left;
  }
  .menu li {
    list-style: none;
    padding: 20px 0;
    margin: 0 0;
  }
  .menu a {
    text-decoration: none;
    color: #fff;
  }
  .menu p {
    background: #253443;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin: 90px 0;
    font-weight: 700;
  }

  .fa.fa-bars {
    visibility: visible;
    color: #1b1e26;
  }
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

#pricing {
  width: 989px;
  margin: 0 auto;
  margin-top: 100px;
  font-family: "Open Sans", Helvetica;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price_card {
  width: 250px;
  background: rgb(255, 255, 255);
  display: block;
  top: 0;
}
.price_card:not(:last-child) {
  margin-right: 20px;
}
.header {
  color: rgb(255, 255, 255);
}
.bronze .header {
  background: #ff9800;
}
.silver .header {
  background: rgb(246, 77, 77);
}

.gold .header {
  background: #ffc107;
}
.platinum .header {
  background: rgb(48, 219, 181);
}
.price {
  width: 100%;
  font-size: 60px;
  font-weight: 300;
  display: block;
  text-align: center;
  padding: 30px 0 10px;
}
.name {
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  display: block;
  text-align: center;
  padding: 0 0 30px;
}
.features {
  list-style: none;
  text-align: center;
  color: rgb(138, 138, 138);
  margin: 0;
  padding: 0;
}
.features li {
  margin: 0 35px;
  padding: 20px 15px;
}
.features li:not(:last-child) {
  border: 1px solid rgb(242, 242, 242);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
button {
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  display: block;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  margin: 20px auto 35px;
  cursor: pointer;
}
.bronze button {
  background: #ff9800;
}
.silver button {
  background: rgb(246, 77, 77);
}
.gold button {
  background: #ffc107;
}
.platinum button {
  background: rgb(48, 219, 181);
}
/* Tooltip */
.field {
  margin: 10px;
  display: inline-block;
}

.info {
  display: inline-block;
  color: #00c1d8;
}

.info i {
  font-size: 1.2em;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}

.tooltip-content {
  position: relative;
  background: white;
  text-align: left;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.tooltip-content:before {
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.info-right .tooltip-content {
  left: 15px;
  border-left: 5px solid #00c1d8;
}
.info-right .tooltip-content:before {
  left: -15px;
  top: 50%;
  border-right: 15px solid #00c1d8;
}

.info-left .tooltip-content {
  right: 15px;
  border-right: 5px solid #00c1d8;
}
.info-left .tooltip-content:before {
  right: -15px;
  top: 50%;
  border-left: 15px solid #00c1d8;
}

#chartdiv {
  height: 500px;
  margin: 40px 80px;
}

.row {
  width: 80%;
  display: block;
  margin: auto;
}

.row h1 {
  margin-bottom: 20px;
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.video-container iframe {
  margin: 0 10px;
}
